services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
  db:
    image: "postgres:13"

    ports:
      - 5432:5432

    environment:
      POSTGRES_USER: username # The PostgreSQL user (useful to connect to the database)
      POSTGRES_PASSWORD: password # The PostgreSQL password (useful to connect to the database)
      POSTGRES_DB: default_database # The PostgreSQL default database (automatically created at first launch)

    volumes:
      - ./db-data/:/var/lib/postgresql/data/