services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - LANGSMITH_API_KEY=${LANGSMITH_API_KEY}
      - LANGSMITH_PROJECT=${LANGSMITH_PROJECT}
      - PAID_API_KEY=${PAID_API_KEY}
      - FIRECRAWL_API_KEY=${FIRECRAWL_API_KEY}
      - TAVUS_API_KEY=${TAVUS_API_KEY}
      - TAVUS_PERSONA_ID=${TAVUS_PERSONA_ID}
      - TAVUS_REPLICA_ID=${TAVUS_REPLICA_ID}

  db:
    image: "postgres:13"

    ports:
      - 5432:5432

    environment:
      POSTGRES_USER: username # The PostgreSQL user (useful to connect to the database)
      POSTGRES_PASSWORD: password # The PostgreSQL password (useful to connect to the database)
      POSTGRES_DB: default_database # The PostgreSQL default database (automatically created at first launch)

    volumes:
      - ./db-data/:/var/lib/postgresql/data/

  client:
    build: ./frontend/hackeurope
    ports:
      - "3000:3000"
